# Python virtual environments
.venv/
__pycache__
*.pyc
*.pyo
*.pyd
.Python

# Environment directories
env/
ENV/
# Config / secrets
.env

# Model and audio files
xtts_v2/

# macOS specific
.DS_Store



